.navbar {
    width: 100%;
    background-color: rgba(235, 214, 168, 0.575);
    color: black;
    height: 100px;
}

.navbar-button {
    height: 60px;
    width: 60px;
    position: absolute;
    border-radius: 20px;
    left: 1%;
    top: 115%;
    background-color:rgba(255, 255, 255, 0.952);
}
.navbar-placement {
    position: absolute;
    left: 5%;
    top: 145%;
    background: rgba(255, 255, 255, 0.849);
    border-radius: 10px;
}

.name-link {
    font-size: 25px;
    color: black;
    font-weight: bold;
    position: absolute;
    left: 46%;
    top: 30%;
}

body {
    background-image: url("https://c1.wallpaperflare.com/path/508/250/386/porsche-oldtimer-m%C3%BChlheim-mulhouse-c28063a785162686560b46cc3b93f811.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
html, body {
    height: 100%;
}

.slideshow-image {
    border-radius: 25px;
    opacity: 0.8;
}

.slideshow-button {
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.363);
    padding: 9px;
    color: rgb(245, 168, 81);
    font-weight: bold;
    font-size: 25px;
}
.main-page-font-color {
    color: white;
}
.h2-font {
    font-weight: bold;
    font-size: 20px;
}